VITE_ASGARDEO_CLIENT_ID=asgardeo-client-id
VITE_ASGARDEO_BASE_URL=asgardeo-base-url
VITE_RTI_TRACKER_SERVER_URL=http://localhost:8080
VITE_FILE_STORAGE_BASE_URL=file-storage-base-url
VITE_FILE_VIEW_BASE_URL=file-view-base-url
